
<div class="container-fluid">
<h2><%= @companion.fullname %>'s Plans</h2>

<p> Add a plan <%= link_to "here.", new_plan_path %> <%= @message %></p>

<ul>
<% if @plans %>
<% @plans.each do |plan| %>
<%= link_to plan.name, plan %>
<% end %>
<% end %>
</ul>
</div>
<p>
 <%= link_to "log out!", '/companions/logout' %>
 </p>

