<div class="container-fluid">
<h2>New Travel Plans</h2>

<p>Please add details of your travel plans below:</p>

<%= form_for Plan.new do |f| %>
<p><%= f.label :name, "Name:" %> <%= f.text_field :name %></p>
<p><%= f.label :origin, "Origin:" %> <%= f.text_field :origin %></p>
<p><%= f.label :departure_date, "Departure Date:" %> <br><%= f.date_select :departure_date %></p>
<p><%= f.label :return_date, "Return Date:" %> <br><%= f.date_select :return_date %></p>
<p><small>After submitting you may add destinations and companions.</small></p>
<p><%= f.submit "Make plan" %></p>
<% end %>
</div>