<div class="container-fluid words">
<h1>Here's Your Plan</h1>


<%= @plan.name %>
<%= @plan.origin %>


<% @destination.each do |destination| %>
  <li>
    <%= link_to "#{destination.name}", destination %>
  <% destination.companions.each do |comp| %>
  <li><%= comp.fullname %></li>
  <% end %>
  </li>
<% end %>


<br>

<%= link_to "Add a destination", new_plan_destination_path(@plan) %>

<br>

<%= link_to "Add a new companion", new_companion_path %>
<br>
<%= link_to "Edit Your Plan", edit_plan_path(@plan) %>

</div>