<div class="container-fluid words">
<p><%= link_to "Home", '/plans' %> | <%= link_to "log out!", '/companions/logout' %></p>
<h1>Here's Your Plan</h1>

<h3><%= @plan.name %></h3>

<p>Origin: <%= @plan.origin %></p>
<p>Departure Date: <%= @plan.departure_date %></p>
<p>Final Destination: <%= @final_dest %></p>
<p>Return Date: <%= @plan.return_date %></p>


<br><br><br>
<h4>All Destinations</h4>
<ul>
<% @destinations.each do |dest| %>
  <li>
    <%= link_to "#{dest.name}", dest %> 
    <ul>
  <% dest.companions.each do |comp| %>
  <li><%= comp.fullname %></li>
  <% end %>
  </ul>
  </li>
<% end %>
</ul>
 <br>
<p><%= link_to "Edit Your Plan", edit_plan_path(@plan) %> |
 <%= link_to "Add a destination", new_plan_destination_path(@plan) %></p>

 <h3>Reviews Section</h3>

 <% if @reviews %>
 <% @reviews.each do |review| %>
 <p><%= review.review_text %></p>
 <% end %>
 <% end %>

</div>